---
import Sun from '../icons/sun.svg'
import Moon from '../icons/moon.svg'
import Monitor from '../icons/monitor.svg'
---

<button
	id="theme-switcher"
	class="group grid cursor-pointer items-center p-4 text-text transition-colors [grid-template-areas:'icon'] hover:text-primary-400 focus-visible:text-primary-400"
>
	<Sun
		class="hidden opacity-0 transition-[display,opacity] transition-discrete will-change-auto [grid-area:icon] group-data-[theme=light]:block group-data-[theme=light]:opacity-100 starting:opacity-0"
	/>
	<Moon
		class="hidden opacity-0 transition-[display,opacity] transition-discrete will-change-auto [grid-area:icon] group-data-[theme=dark]:block group-data-[theme=dark]:opacity-100 starting:opacity-0"
	/>
	<Monitor
		class="hidden opacity-0 transition-[display,opacity] transition-discrete will-change-auto [grid-area:icon] group-data-[theme=system]:block group-data-[theme=system]:opacity-100 starting:opacity-0"
	/>
</button>

<script is:inline>
	function getThemeSwitcher() {
		return document.getElementById('theme-switcher')
	}

	function setThemeSwitcherState(theme, nextTheme) {
		const themeSwitcher = getThemeSwitcher()
		themeSwitcher.dataset.theme = theme
		themeSwitcher.ariaLabel = `Switch to ${nextTheme} theme`
	}

	document.addEventListener('astro:page-load', () => {
		const currentTheme = getCurrentTheme()
		const nextTheme = findNextTheme(currentTheme)
		setThemeSwitcherState(currentTheme, nextTheme)

		// Handle theme switching
		const themeSwitcher = getThemeSwitcher()
		themeSwitcher.addEventListener('click', () => {
			const currentTheme = themeSwitcher.dataset.theme
			const nextTheme = findNextTheme(currentTheme)
			setTheme(document, nextTheme)
			setThemeSwitcherState(nextTheme, findNextTheme(nextTheme))
		})
	})
</script>
