/* fallbacks */
@font-face {
	font-family: 'Adjusted Arial Fallback';
	src: local(Arial);
	size-adjust: 94%;
	ascent-override: 116%;
	descent-override: 58%;
	line-gap-override: normal;
}

@font-face {
	font-family: 'Adjusted Courier New Fallback';
	src: local(Courier New);
	size-adjust: 92%;
	ascent-override: 93%;
	descent-override: 32%;
	line-gap-override: normal;
}

/* mukta-regular - latin */
@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		local('Mukta-Regular'),
		url('/fonts/mukta-v13-latin-regular.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/mukta-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-500 - latin */
@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src:
		local('Mukta-Regular'),
		url('/fonts/mukta-v13-latin-500.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/mukta-v13-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-600 - latin */
@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src:
		local('Mukta-Regular'),
		url('/fonts/mukta-v13-latin-600.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/mukta-v13-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mukta-700 - latin */
@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		local('Mukta-Regular'),
		url('/fonts/mukta-v13-latin-700.woff2') format('woff2'),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url('/fonts/mukta-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-family: 'DankMono';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		local('DankMono-Regular'),
		url('/fonts/DankMono-Regular.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
	font-family: 'DankMono';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src:
		local('DankMono-Regular'),
		url('/fonts/DankMono-Bold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
	font-family: 'DankMono';
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src:
		local('DankMono-Regular'),
		url('/fonts/DankMono-Italic.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
